<!--.about [full-width background]-->
<div class="about" id="about">
    <!--.container sets max width for content-->
    <div class="container about-container">        

        <h1>About Rubrik.</h1>
        <h1 class="h1-text-2"><span>Why interactive rubrics.</span></h1>
        
        <div class="about-content">

            <div class="about-question" aria-expanded="false">
                <div class="about-question-container">
                    <div class="about-question-text">
                        What is challenge-based learning?
                    </div>
                    <div class="about-question-icon">
                        <img src="images/svg/ChevronDown.svg" loading=“lazy” decoding=“async” alt="Chevron Down">
                    </div>
                </div>
            </div>
            <div class="about-answer">
                <div class="about-answer-container">
                    Challenge-based learning is a methodology for learning while developing solutions to real-world problems.
                    In the context of EPAC, it means you will not be graded via exam, but by proposing a solution to a real-world
                    challenge (such as 'How to use AI to automate CV screening within a company'). The creation of a prototype
                    is not required -as these are tough challenges- but you will need to do research, explore scientific papers,
                    and identify what gaps currently exist before proposing your solution.
                </div>
            </div>

            <div class="about-question" aria-expanded="false">
                <div class="about-question-container">
                    <div class="about-question-text">
                        What is a rubric?
                    </div>
                    <div class="about-question-icon">
                        <img src="images/svg/ChevronDown.svg" loading=“lazy” decoding=“async” alt="Chevron Down">
                    </div>
                </div>
            </div>
            <div class="about-answer">
                <div class="about-answer-container">
                    As you can imagine, this process is very open-ended, and it is important for professors to make sure every student is on the right track.
                    For this purpose, the use of rubrics is encouraged (which are nothing more than documents that specify how you will be graded come semester end).
                    These documents both guide you in the development of your solution and allow you to be graded by other students (peer assessment).
                </div>
            </div>

            <div class="about-question" aria-expanded="false">
                <div class="about-question-container">
                    <div class="about-question-text">
                        What is an interactive rubric?
                    </div>
                    <div class="about-question-icon">
                        <img src="images/svg/ChevronDown.svg" loading=“lazy” decoding=“async” alt="Chevron Down">
                    </div>
                </div>
            </div>
            <div class="about-answer">
                <div class="about-answer-container">
                    Starting from the 2022/2023 academic year, rubrics in EPAC will be interactive thanks to the addition of activities (quizzes) at the end of each section to
                    help better understand each of the points presented. At the same time, these activities are expected to help professors gain insight into
                    what sections of the rubric need rewriting or improving via the analysis of the various quiz results.
                </div>
            </div>

            <div class="about-question" aria-expanded="false">
                <div class="about-question-container">
                    <div class="about-question-text">
                        What is peer assessment?
                    </div>
                    <div class="about-question-icon">
                        <img src="images/svg/ChevronDown.svg" loading=“lazy” decoding=“async” alt="Chevron Down">
                    </div>
                </div>
            </div>
            <div class="about-answer">
                <div class="about-answer-container">
                    Peer assessment is the process by which students can grade one another (note in EPAC these grades will not count towards your
                    final grade). This allows students to repeatedly engage in a feedback-revision loop, as
                    providing continuous feedback for an open-ended challenge often becomes unmanageable for professors (in EPAC, you will have
                    an opportunity mid semester for a professor-lead assessment -meaning grading all of your documents-, as well as unlimited peer assessment
                    opportunities, before your final submission come semester end).
                </div>
            </div>

            <div class="about-question" aria-expanded="false">
                <div class="about-question-container">
                    <div class="about-question-text">
                        What do I need to create?
                    </div>
                    <div class="about-question-icon">
                        <img src="images/svg/ChevronDown.svg" loading=“lazy” decoding=“async” alt="Chevron Down">
                    </div>
                </div>
            </div>
            <div class="about-answer">
                <div class="about-answer-container">
                    Three documents must be created for you to pass this course: a Pentachart (a one page document highlighting the key points of your solution),
                    a Research Proposal (around 1500 words long) and a Presentation (a set of slides to aid in the presentation of your solution to your classmates).
                </div>
            </div>

            <div class="about-question" aria-expanded="false">
                <div class="about-question-container">
                    <div class="about-question-text">
                        What can I do on Rubrik?
                    </div>
                    <div class="about-question-icon">
                        <img src="images/svg/ChevronDown.svg" loading=“lazy” decoding=“async” alt="Chevron Down">
                    </div>
                </div>
            </div>
            <div class="about-answer">
                <div class="about-answer-container">
                    You have three sections on Rubric, one for each of the documents you have to create: Pentachart, Research Proposal and Presentation.
                    For each of these sections, you have three options:
                    Under the 'Assessment Rubric' tab you can revise how your document will be graded, as well as complete several activities (quizzes) to help
                    your understanding.
                    Under the 'Self Assessment' tab you can check for grammar and other types of mistakes in your document.
                    Finally, under the 'Peer Assessment' tab you can grade your mirror group's document (e.g. the Pentachart of another group in your class)
                    and generate a report to download and upload to Moodle at the end. Note these documents will
                    be made available to you by your professors via Moodle. Once downloaded, you can use Rubrik to generate your peer review.
                </div>
            </div>

            <div class="about-question" aria-expanded="false">
                <div class="about-question-container">
                    <div class="about-question-text">
                        Do I need to register and log in?
                    </div>
                    <div class="about-question-icon">
                        <img src="images/svg/ChevronDown.svg" loading=“lazy” decoding=“async” alt="Chevron Down">
                    </div>
                </div>
            </div>
            <div class="about-answer">
                <div class="about-answer-container">
                    Signing up is not required for you to revise how your documents will be graded (rubric),
                    check for errors in your documents (self assessment) or assess your peer's work (peer assessment).
                    However, registering your group on Rubrik and logging in will allow professors be made
                    aware of the activities (quizzes) you complete, which will grant your group up to one extra mark in your grade.
                </div>
            </div>

            <div class="about-question" aria-expanded="false">
                <div class="about-question-container">
                    <div class="about-question-text">
                        Can I help improve Rubrik?
                    </div>
                    <div class="about-question-icon">
                        <img src="images/svg/ChevronDown.svg" loading=“lazy” decoding=“async” alt="Chevron Down">
                    </div>
                </div>
            </div>
            <div class="about-answer">
                <div class="about-answer-container">
                    Yes! Rubrik is a platform developed by students and you can help improve it as part of your Practicum
                    and/or Final Year Project. Contact any of your professors for more information.
                    Currently, the platform is developed in:<br>
                    Backend: Node.js (Express) and MongoDB.<br>
                    Frontend: HTML (EJS), CSS, JS.
                </div>
            </div>
        </div>
    </div>
</div>