<!--.container sets max width for content-->
<div class="container">
    <!--smooth scroll on click to #hero [Rubrik/Home click from header]-->
    <div class="hero" id="hero">
        <div class="hero-text">
            <h1>Stand out with<br><span>Academic English</span>.</h1>
            <h2>Every year, a new cutting-edge field (AI, VR, blockchain) is chosen. You will learn to do research and communicate formally and with precision.</h2>
            <div class="hero-links">
                <a class="hero-register" href="/register">Sign Up</a>
                <a class="hero-learn" href="#about">Learn More</a>
            </div>
        </div>
        <div class="hero-img">
            <img src="images/research.webp" loading=“lazy” decoding=“async” alt="A young student enjoying using a VR headset in a museum and a Pentachart studying VR technology by his side">
        </div>
    </div>
</div>