<!--.container sets max width for content-->
<div class="container">
    <!--.toggle-container positions toggle relative to hero-->
    <div class="toggle-container">

        <!--Start of toggle title-->
        <h1>Complete all challenges.</h1>
        <h1 class="toggle-text-2">Get an extra mark.</h1>
         <!--End of toggle title-->

        <!--Start of toggle-->
        <div class="toggle" id="toggle">
            <div class="toggle-bg">&nbsp;</div>
            <div data-option="pentachart" class="toggle-option">
                <a class="content toggle-active">Pentachart<span>Quiz</span></a>
            </div>
            <div data-option="research" class="toggle-option">
                <a class="content">R. Proposal<span>Quiz</span></a>
            </div>
            <div data-option="presentation" class="toggle-option">
                <a class="content">O. Presentation</a>
            </div>
        </div>
        <!--End of toggle-->

    </div>
</div>