<!DOCTYPE html>
<html lang="en">

<head>
    <!--Start of 'document character encoding' rule-->
    <meta charset="UTF-8">
    <!--End of 'document character encoding' rule-->

    <!--Start of 'document compatibility mode' rule (for legacy IE browsers)-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <!--End of 'document compatibility mode' rule (for legacy IE browsers)-->

    <!--Start of viewport (visible web content area) rules-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--End of viewport (visible web content area) rules-->

    <!--Start of page title (on browser tab, bookmarks, etc.)-->
    <title>Rubrik | Set Password</title>
    <!--End of page title (on browser tab, bookmarks, etc.)-->

    <!--Start of styles-->
    <link rel="stylesheet" href="../css/shared/common.css" />
    <link rel="stylesheet" href="../css/shared/auth.css" />
    <!--End of styles-->

    <!--Start of favicon (icon on browser tab, bookmarks, etc.)-->
    <link rel="apple-touch-icon" sizes="180x180" href="../images/favicon/apple-touch-icon.png"> <!--../ is added in front-->
    <link rel="icon" type="image/png" sizes="32x32" href="../images/favicon/favicon-32x32.png"> <!--since we access-->
    <link rel="icon" type="image/png" sizes="16x16" href="../images/favicon/favicon-16x16.png"> <!--/set-password/token-->
    <link rel="manifest" href="../images/favicon/site.webmanifest">
    <!--End of favicon (icon on browser tab, bookmarks, etc.)-->

    <!--Start of scripts-->
    <script src="../js/axios.js" defer></script>
    <script src="../js/shared/auth.js" defer></script>
    <!--End of scripts-->
</head>

<body>
    <!--.container sets max width for content-->
    <div class="container">

        <!--.auth-container sets same starting point for register/login/reset-password forms-->
        <div class="auth-container">

            <!--Start of auth welcome-->
            <div class="auth-welcome">
                <h1>Set<span>password</span>.</h1>
            </div>
            <!--End of auth welcome-->
            
            <!--Start of auth msg-->
            <div class="auth-msg">Set your group's password.</div>
            <!--End of auth msg-->

            <!--Start of form-->
            <form class="auth-form">

                <% if (locals.resetPwdHourWindow) { %>
                    <div class="auth-info">
                        You must set your new password within <%= locals.resetPwdHourWindow %> hours
                        of receiving your validation code.
                    </div>
                <% } else { %>
                    <div class="auth-info">
                        You must set your new password within 2 hours
                        of receiving your validation code.
                    </div>
                <% } %>

                <div class="auth-group">
                    <label for="register-password">
                        <img src="../images/svg/Lock.svg" loading=“lazy” decoding=“async” alt="Lock">New group's password
                    </label>
                    <input type="password" id="register-password" placeholder="">
                </div>
                
                <div class="auth-group">
                    <a href="#" class="auth-btn" id="set-pwd">Set password</a>
                </div>

                <% if (!locals.admin) { %>
                <div class="auth-row-group centered">Not registered?<a href="../register" class="do-instead"> Sign up instead</a></div>
                <% } %>

            </form>
            <!--End of form-->
        
        </div>

    </div>
    
</body>
</html>