/*
rounded-bg-1
    |__ rounded-bg-2
         |__ rounded-bg-3
-> width > 100vw to make it more rounded.
-> overflow-x: hidden on body + div with:
        border-top-left-radius: 60%;
        border-top-right-radius: 60%;
        background-color: #242247;
   produces displacement when zooming in
   on rightmost part of screen and
   refreshing screen [tested on Chrome]
-> to fix this problem, we use the following:
*/
/*Start of rounded background*/
  .rounded-bg-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100vw;
}
.rounded-bg-2 {
    position: relative;
    overflow: hidden;
    width: max(2200px, 125vw); /*on small screens, width: 2200px
    even if smaller screen width*/
    left: calc((100vw - max(2200px, 125vw))/2); /*move to the left
    1/2 of overflown area, leaving 1/2 overflowing to the right,
    e.g. 100vw: 600px, bg: 2200px, 1600px overflow, left: -800px */
    height: 600px; /*height affects roundness*/
}
.rounded-bg-3 {
    display: flex;
    justify-content: center;
    position: relative;
    height: 100%;
    right: calc((100vw - max(2200px, 125vw))/2);
    border-top-left-radius: 60%;
    border-top-right-radius: 60%;
    background-color: #242247;
}
/*End of rounded background*/